export(as.list)
export(as.matrix)
export(as.numeric)
export(c)
export(cbind)
export(colnames)
export(complete.cases)
export(equals)
export(exp)
export(glm.ds)
export(histogram.1)
export(length)
export(lm.ds)
export(log)
export(matrix)
export(mean)
export(product)
export(sum)
export(summary)
export(var)
