export(asFactorDS)
export(asListDS)
export(asMatrixDS)
export(cDS)
export(changeRefGroupDS)
export(dataframeDS)
export(isNaDS)
export(isValidDS)
export(listDS)
export(meanDS)
export(namesDS)
export(numNaDS)
export(quantileMeanDS)
export(recodeLevelsDS)
export(replaceNaDS)
export(rowColCalcDS)
export(subclassDS)
export(subsetDS)
export(table1dDS)
export(table2dDS)
